@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import "tailwindcss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}
.oswald {
    font-family: "Oswald", sans-serif;
}

.cursive {
    font-family: "Fleur De Leah", cursive;
    font-weight: lighter;
    font-style: normal;
}

.geist {
    font-family: var(--font-geist-sans), sans-serif;
}

.roboto {
    font-family: var(--font-roboto), sans-serif;
}


@theme {
    --breakpoint-midscr: 1400px;
}


.blurBackground {
    backdrop-filter: blur(10px);
}

.blurBackground100 {
    backdrop-filter: blur(50px);
}

.special_page_heading_background::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(100px);
    backdrop-filter: blur(10px);
}


